{% extends 'layout.html'%}

{% block title %}Register{% endblock %}
{% block identifier %}register{% endblock %}

{% block body %}
    <h6>Username</h6>
    <input type="text" id="input-register-username">
    <h6>E-mail</h6>
    <input type="text" id="input-register-email">
    <h6>Password</h6>
    <input type="password" id="input-register-password">
    <h6>Moniker</h6>
    <input type="text" id="input-register-moniker">
    <p><div class="button" id="input-register-button">Register</div></p>
{% endblock %}